body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(#2876a8, #d1e2ed);
    height: 100vh;
    overflow-y: hidden;
}

.card {
    width: 700px;
    background-image: linear-gradient(#2876a8, #d1e2ed);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    margin: 100px auto 0;
    border-radius: 35px 35px;
    padding: 40px 35px;
    text-align: center;
}

.temp {
    border-radius: 10px;
    background-color: #012443;
    color: rgb(211, 211, 211);
    display: inline-block;
    padding: 5px 8px;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #012443;
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 8px;
}

.footer h6 {
    font-weight: 200;
}

.footer span {
    color: crimson;
}