*{
    font-family: 'Poppins', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(#2876a8, #d1e2ed); */
    height: 100vh;
    overflow-y: hidden;
    background-image:-webkit-repeating-linear-gradient(#012443, #89f7e7);
}

.card {
    width: 600px;
    background: #B0E0E6;
    /* background-image: linear-gradient(#012443, #89f7e7); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    margin: 50px auto 0;
    border-radius: 40px 40px;
    padding: 20px 35px;
    text-align: center;
}

.temp {
    border-radius: 10px;
    background-color: #012443;
    color: rgb(211, 211, 211);
    display: inline-block;
    margin-left: 4px;
    padding: 5px 30px;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #012443;
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 8px;
}

.footer h6 {
    font-weight: 200;
}

.footer span {
    color: crimson;
}

h5 span{
    padding-left: 200px;
}